@import "./skeleton.scss";

.login-module {
  margin-top: 40px;
  box-shadow: 0px 0px 4px #888888;
  .header {
    background-color: #FF5600;
    text-align: center;
    h2 {
      color: #FFF;
      font-size: 1.5em;
      padding-top: .5em;
      margin-bottom: .4em;
    }
  }
  .form {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    label {
      margin-right: 10px;
      font-weight: 400;
      display: inline-block;
    }
    input {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    input[type="submit"] {
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
  }
}

.navbar {
  background-color: #FF5600;
  padding: 0px 15px;
  box-shadow: 0px 0px 4px #888888;
  .navbar-brand {
    float: left;
    img {
      max-width: 68px;
      padding-top: 8px;
    }
  }
  ul {
    &.navbar-list {
      float: right;
      list-style-type: none; 
      margin: 0;
      padding: 0px;
      li {
        display: inline-block;
        padding: 0px 12px;
        margin-bottom: 0px;
        //border-left: 1px solid #db4900;
        a {
          display: block;
          padding: 25px 0px;
          text-decoration: none;
          font-size: .9em;
          color: #EEE;
          &:hover {
            color: #FFF;
          }
        }
      }
    }
  }
}
table {
  &#graduates {
    width: 100%;
  }
}
.info-container {
  margin-bottom: 20px;
  .desc {
    font-weight: bold;
  }
}
.general-info {
  @extend .info-container;
}
.graduation-info {
  @extend .info-container;
}
.friend-info {
  @extend .info-container;
}
.user-profile {
  padding-left: 40px;
  border-left: 1px solid #CCC;
  h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #666;
  }
}
.content {
  margin-top: 30px;
}
#messages{
  .comment {
    .commentAuthor {
      color: #999;
    }
    .commentText {
      color: #FFF;
    }
  }
  .commentList {
    overflow: scroll;
    height: 500px;
    border: 1px solid #CCC;
    background-color: #333;
  }
  .commentForm {
    input {
      &[type="text"] {
        width: 90%;
      }
      &[type="submit"] {
        background-color: #FF5600;
        color: #FFF;
        width: 10%;
      }
    }
  }
}
.sidebar {
  .profile-picture {
    padding: 8px;
    border: 1px solid #CCC;
    text-align: center;
    margin-bottom: 20px;
    img {
      max-width: 180px;
    }
  }
}
.top_header_button {
  margin-top: 20px;
}
.follow_button {
  @extend .top_header_button;
}
.unfollow_button {
  @extend .top_header_button;
}
.update-profile-button {
  @extend .top_header_button;
}
.friend-info {
  .friend {
    display: inline-block;
    padding-right: 20px; 
    padding-bottom: 20px; 
    max-width: 100px;
    text-align: center;
    .friend-icon {
      img {
        max-width: 50px;
        max-height: 50px;
      }
    }
    .friend-name {
      a {
        color: #002147;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.products {
  text-align: center;
  .product {
    display: inline-block;
    padding: 20px;
    vertical-align: top;
    max-width: 200px;
    .product-name {
      text-align: left;
      font-size: 1.2em;
    }
    .product-price {
      text-align: left;
      color: #666;
    }
    .product-image {
      img {
        max-width: 200px;
        max-height: 200px;
      }
    }
  }
}
.product {
  .nine.columns {
    border-left: 1px solid #CCC;
    padding-left: 30px;
    height: 600px;
  }
  .three.columns {
    .product-image {
      text-align: center;
      img {
        max-width: 200px;
      }
    }
  }
  hr {
    margin-top: .5rem;
  }
  [target="paypal"] {
    display: inline-block;
    float:right;
    margin-top: 30px;
  }
  h1 {
    display: inline-block;
  }
  .product-info {
    .title {
      width: 80px;
      text-align: right;
      display: inline-block;
      vertical-align: top;
      font-weight: 600;
    }
    .value {
      max-width: 500px;
      display: inline-block;
      padding-left: 20px;
      vertical-align: top;
      padding-bottom: 10px;
    }
  }
}
.back {
  margin-top: -10px;
  margin-bottom: 20px;
}
